/* * {
    margin: 0;
} */

span:hover {
    color: blue;
}

a[href="google.com.ar"] {
    display: block;
    color: red;
}

/* a[title] {
    color: green;
} */

/* p::first-line {
            color: green;
        } */

article>p {
    color: blue
}

.prueba *:first-child {
    font-weight: bold;
}

.notebox {
    border: 4px solid #666;
    padding: .5em;
}

.notebox.warning {
    border-color: orange;
    font-weight: bold;
    background-color: orange;
}

.notebox.danger {
    border-color: red;
    font-weight: bold;
    background-color: red;
}

#one {
    background-color: yellow;
}

h1#heading {
    color: rebeccapurple;
}